* {
    margin: 0;
    font-family: 'Moon Dance', cursive;
}

h1 {
    display: flex;
    text-decoration: underline;
    justify-content: center;
    background-color: lightblue;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
 
#grocery-list {
    display: flex;
    justify-content: center;
    background-color: pink;
}