* {
    font-family: 'Moon Dance', cursive;
}

.container {
    height: 85px;
    width : 85px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}
    
.container > div {
    width : 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}